{% extends "base.html" %}


{% block content %}

<div class="container">
	<div class="profile-block">
		<h1>{{ user.username }}</h1>
		<p>{{ user.status }}</p> <br>
		<p><b>Возраст:</b> <br>{{ user.profile.age }} лет/год</p> <br>
		<p><b>Номер телефона:</b> <br> {{ user.profile.phone_number }}</p> <br>
		<p><b>Обо мне:</b> <br> {{ user.profile.bio }}</p> <br>
		<p><b>Мои статьи:</b></p> <br>
		<ul>
			{% for article in user.article_set.all %}
				<li>
					<h3>
						<a href="{% url 'detail_article' article.id %}">
							{{ article.title }}
						</a>	
					</h3>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock content %}